<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rokuniroku.newinti.intiiu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_intiicon_finale"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_intiicon_finale_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Launcher Activity -->
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginPage" />
        <activity android:name=".LNFItemPage" />
        <activity
            android:name=".LNFPage"
            android:label="Lost And Found" />
        <activity
            android:name=".EventAnnPage"
            android:label="Event Announcement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".EventAnnItemPage" />
        <activity
            android:name=".EventAnnRequestPage"
            android:label="Event Announcement Request" />
        <activity
            android:name=".EventAnnRequestStatusPage"
            android:label="Event Status" />
        <activity
            android:name=".INTIAnnPage"
            android:label="INTI Announcement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".INTIAnnItemPage" />
        <activity android:name=".FeedbackPage" />
        <activity android:name=".BusSchedule" />
        <activity android:name=".Academic_calendar" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>